.button {
  align-items: center;
  background: transparent;
  border-radius: 3px;
  border: 2px solid;
  cursor: pointer;
  display: flex;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 600;
  height: 36px;
  letter-spacing: -0.01em;
  padding: 0 25px;
  text-align: center;
  transition: border-color 0.3s, color 0.3s;
  will-change: border-color, color;

  &--green-outline {
    border-color: #53c3d0;
    color: #53c3d0;

    &:hover {
      border-color: #1c5d9f;
      color: #1c5d9f;
    }

    &:disabled {
      cursor: not-allowed;
    }

    &:active {
      border-color: #022b54;
      color: #022b54;
    }
  }

  &--dark-outline {
    border-color: #022b54;
    color: #022b54;

    &:hover {
      border-color: #53c3d0;
      color: #53c3d0;
    }

    &:disabled {
      cursor: not-allowed;
    }

    &:active {
      border-color: #34aebc;
      color: #34aebc;
    }
  }

  &--link {
    border-color: transparent;
    color: #022b54;
  }

  &--solid-green {
    background: #53c3d0;
    border-color: transparent;
    color: #ffffff;
    justify-content: center;
  }
}
