@import "../../sass-globals";

.property-grid {
  -ms-overflow-style: none;
  height: calc(100% - #{$header-height-mobile-up});
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  white-space: nowrap;

  &::-webkit-scrollbar {
    display: none;
  }

  @include tablet {
    -ms-overflow-style: unset;
    height: unset;
    margin: 0 auto;
    max-width: 738px;
    min-height: calc(100% - #{$header-height-tablet-up});
    overflow-x: unset;
    padding-bottom: 56px;
    scrollbar-width: unset;
    white-space: unset;
    width: 92%;
  }

  @include desktop {
    max-width: 800px;
  }

  &__content {
    display: flex;
    flex-direction: row;
    height: 100%;

    @include tablet {
      flex-direction: column;
      height: unset;
    }
  }

  &__count {
    display: none;

    @include tablet {
      display: block;
      margin: 30px 0;
    }
  }

  &__empty {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    margin-top: 38vh;
    text-align: center;
    white-space: normal;
  }

  &__empty-text {
    color: #505051;
    font-family: Source Sans Pro;
    font-size: 16px;
    letter-spacing: -0.01em;
    line-height: 154%;
    margin-top: 40px;
    padding: 0 4%;
    text-align: center;
  }

  &__empty-state-cta {
    margin-top: 30px;
  }

  &__load-more-wrapper {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    width: 100vw;

    @include tablet {
      padding-top: 36px;
      width: unset;
    }
  }

  &__load-more-button {
    background: #f7f7f7;
    border-radius: 2px;
    border: none;
    color: #b3b3b3;
    cursor: pointer;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.01em;
    padding: 3px 16px;
  }

  &__count-eyebrow {
    color: #53c3d0;
    display: inline-block;
    font-family: "Source Sans Pro";
    font-size: 9px;
    font-weight: 600;
    letter-spacing: -0.01em;
    position: relative;
    text-transform: uppercase;

    &::after {
      background: #53c3d0;
      content: "";
      height: 1px;
      position: absolute;
      right: -75px;
      top: 6px;
      width: 68px;
    }
  }

  &__count-title {
    $count-title: &;

    color: #022b54;
    font-family: "Source Sans Pro";
    font-size: 28px;
    font-weight: 300;
    letter-spacing: -0.01em;

    &--highlight {
      @extend #{$count-title};

      font-weight: 600;
    }
  }
}
