@import "../../sass-globals";

.property-card {
  $block: &;

  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  min-width: 100vw;
  position: relative;
  width: 100vw;

  &--working {
    cursor: wait;
  }

  & + & {
    margin-left: 6px;

    @include tablet {
      border-top: solid 1px #e5e5e5;
      margin-left: 0;
      padding-top: 20px;
    }
  }

  @include tablet {
    box-sizing: border-box;
    flex-direction: row;
    min-width: unset;
    padding-bottom: 20px;
    width: unset;
  }

  &__info-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 0;

    @include tablet {
      flex: 1;
    }
  }

  &__info-inner-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    position: relative;

    &::after {
      background: #e8eff5;
      bottom: 24px;
      content: "";
      position: absolute;
      right: -3px;
      top: 24px;
      width: 1px;
    }

    #{$block}--last & {
      &::after {
        content: none;
      }
    }

    @include tablet {
      padding: 18px 0 0 30px;

      &::after {
        content: none;
      }
    }
  }

  &__image-wrapper {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2px;
    flex: 1;

    #{$block}--working & {
      @extend %skeleton-loading;
    }

    @include tablet {
      flex: unset;
      height: 208px;
      width: 360px;
    }

    @include desktop {
      background-position: center;
      background-size: 100% auto;
      flex-shrink: 0;
      width: 390px;
    }
  }

  &__location {
    align-items: center;
    align-self: center;
    border-radius: 2px;
    color: #53c3d0;
    display: flex;
    flex-direction: row;
    font-family: "Source Sans Pro";
    font-size: 12px;
    font-weight: 400;
    height: 17px;
    justify-content: center;
    letter-spacing: -0.01em;
    width: 100%;

    @include tablet {
      align-self: flex-start;
      justify-content: flex-start;
    }

    #{$block}--working & {
      @extend %skeleton-loading;

      width: 132px;
    }
  }

  &__location-separator {
    margin: 0 6px;
  }

  &__location-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;

    @include tablet {
      justify-content: flex-start;
    }
  }

  &__title {
    align-self: center;
    border-radius: 2px;
    color: #011b35;
    font-family: SangBleu Sunrise;
    font-size: 21px;
    font-weight: bold;
    height: 28px;
    letter-spacing: -0.01em;
    line-height: 114%;
    line-height: 30px;
    margin-top: 4px;
    min-width: 0;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;

    @include tablet {
      align-self: unset;
      justify-content: unset;
      text-align: unset;
    }

    #{$block}--working & {
      @extend %skeleton-loading;

      width: 218px;
    }
  }

  &__amenities {
    -ms-overflow-style: none;
    align-items: center;
    align-self: center;
    border-radius: 2px;
    color: rgba(#022b54, 0.3);
    display: flex;
    flex-direction: row;
    font-family: "Source Sans Pro";
    font-size: 12px;
    font-weight: 400;
    height: 24px;
    justify-content: center;
    letter-spacing: -0.01em;
    line-height: 122%;
    margin-top: 10px;
    margin-top: 4px;
    overflow-x: auto;
    scrollbar-width: none;
    width: 100%;

    &::-webkit-scrollbar {
      height: 0;
      width: 0;
    }

    @include tablet {
      align-self: flex-start;
      justify-content: flex-start;
      margin-left: -2px;
    }

    #{$block}--working & {
      margin-left: unset;
      width: 241px;

      @extend %skeleton-loading;
    }
  }

  &__amenity-icon {
    opacity: 0.3;

    @include desktop {
      margin-right: 4px;
    }

    &:not(:first-child) {
      margin-left: 10px;

      @include desktop {
        margin-left: 16px;
      }
    }
  }

  &__price-wrapper {
    background: #011b35;
    border-radius: 0px 0px 6px 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 16vw;
    padding: 10px;
    position: absolute;
    right: 16vw;
    top: 30px;

    @include tablet {
      background: unset;
      border-radius: unset;
      margin-top: 35px;
      padding: 0 30px 0 30px;
      position: unset;
      top: unset;
    }

    @include desktop {
      padding: 0 60px 0 30px;
    }

    &--show {
      animation: animate-price 1s ease;

      @include tablet {
        animation: none;
      }
    }

    #{$block}--working &,
    &--working {
      display: none;

      @include tablet {
        display: flex;
      }
    }
  }

  &__counter {
    align-items: center;
    background-color: white;
    color: #022b54;
    display: flex;
    font-family: "Source Sans Pro";
    font-size: 12px;
    height: 30px;
    justify-content: center;
    left: 16vw;
    letter-spacing: -0.01em;
    position: absolute;
    right: 16vw;
    top: 0;

    #{$block}--working & {
      display: none;
    }

    @include tablet {
      display: none;
    }
  }

  &__counter-highlight {
    font-weight: 600;
  }

  &__price-block {
    display: flex;
    flex-direction: column;

    &--working {
      align-items: center;
      flex-direction: row;
      flex: 1;

      @include tablet {
        align-items: flex-start;
        flex-direction: column;
      }
    }
  }

  &__price-block-period {
    align-items: center;
    color: rgba(#ffffff, 0.5);
    display: flex;
    flex-direction: row;
    flex: 1;
    font-family: "Source Sans Pro";
    font-size: 12px;
    font-weight: 400;
    height: 17px;
    justify-content: center;
    letter-spacing: -0.01em;

    @include tablet {
      align-items: flex-start;
      color: rgba(#022b54, 0.3);
      flex: unset;
      justify-content: flex-start;
    }

    &--price {
      justify-content: flex-start;

      @include tablet {
        align-items: flex-end;
      }
    }

    #{$block}--working &,
    &--working {
      @extend %skeleton-loading;

      width: 74px;
    }
  }

  &__price-block-price {
    color: #ffffff;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.01em;

    #{$block}--working &,
    &--working {
      @extend %skeleton-loading;

      width: 98px;
    }

    @include tablet {
      color: #022b54;
      font-size: 20px;
      height: 23px;
      margin-top: 4px;
    }
  }

  &__price-block-details {
    color: rgba(#022b54, 0.3);
    display: none;
    font-family: "Source Sans Pro";
    font-size: 12px;
    font-weight: 400;
    height: 17px;
    letter-spacing: -0.01em;
    margin-top: 4px;

    @include tablet {
      display: flex;
    }

    #{$block}--working &,
    &--working {
      @extend %skeleton-loading;

      width: 45px;
    }
  }

  &__price-block-icon {
    background-image: url("../../images/arrow-down-white-icon.svg");
    background-repeat: no-repeat;
    height: 12px;
    margin-right: 1px;
    width: 12px;

    @include tablet {
      background-image: url("../../images/arrow-down-grey-icon.svg");
      height: 16px;
      width: 16px;
    }

    &--high {
      background-image: url("../../images/arrow-up-white-icon.svg");

      @include tablet {
        background-image: url("../../images/arrow-up-grey-icon.svg");
      }
    }

    @include tablet {
      margin-right: 2px;
    }

    #{$block}--working &,
    &--working {
      background-image: none;
    }
  }
}

@keyframes animate-price {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}
