//Variables
$desktop-min-width: 1024px;
$header-height-mobile-up: 80px;
$header-height-tablet-up: 128px;
$tablet-min-width: 768px;

// Breakpoints
@mixin tablet {
  @media (min-width: #{$tablet-min-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-min-width}) {
    @content;
  }
}

// Placeholders
%skeleton-loading {
  background: #f7f7f7;
  overflow: hidden;
  position: relative;

  &::before {
    animation: skeleton-loading-animation 0.7s infinite;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0)
    );
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
  }
}

// Animations
@keyframes skeleton-loading-animation {
  0% {
    transform: skewX(-10deg) translateX(-100%);
  }
  100% {
    transform: skewX(-10deg) translateX(200%);
  }
}
