@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
@import "./sass-globals";

@font-face {
  font-display: swap;
  font-family: "SangBleu Sunrise";
  font-style: normal;
  font-weight: 700;
  src: url(../public/fonts/SangBleu/WOFF2/SangBleuSunrise-Bold-WebTrial.woff2)
      format("woff2"),
    url(../public/fonts/SangBleu/WOFF/SangBleuSunrise-Bold-WebTrial.woff)
      format("woff");
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  min-height: 100%;
}

#root {
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 992px;
  width: 90%;

  &--short {
    @extend.container;

    max-width: 848px;
  }

  &--large {
    @extend.container;

    max-width: 1134px;
  }
}

.fieldset {
  border-radius: 3px;
  border: 1px solid #e8eff5;
  box-sizing: border-box;
  padding: 8px 12px;

  @include tablet {
    height: 50px;
  }
}

a:-webkit-any-link {
  text-decoration: none;
}
