@import "../../sass-globals";

.main-header {
  $root: &;

  align-items: center;
  background-color: #fff;
  box-shadow: 0px 4px 60px rgba(117, 122, 135, 0.1);
  display: flex;
  height: $header-height-mobile-up;

  &--open {
    bottom: 0;
    height: auto;
    left: 0;
    position: fixed;
    right: 0;
  }

  @include tablet {
    box-shadow: 4px 8px 40px rgba(227, 230, 234, 0.3);
    height: $header-height-tablet-up;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;

    &--open {
      height: $header-height-tablet-up;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__logo {
    display: inline-flex;

    #{$root}--open & {
      display: none;

      @include tablet {
        display: inline-flex;
      }
    }
  }

  &__logo-image {
    background-image: url("../../images/avant-stay-logo-short.svg");
    background-position: center;
    background-repeat: no-repeat;
    height: 50px;
    width: 28px;

    @include tablet {
      height: 36px;
    }

    @include desktop {
      background-image: url("../../images/avant-stay-logo-full.svg");
      width: 160px;
    }
  }

  &__nav {
    display: none;

    @include tablet {
      align-items: center;
      display: inline-flex;
      flex: 1;
      font-family: "Source Sans Pro";
      font-size: 14px;
      font-weight: 400;
      height: 36px;
      justify-content: center;
      letter-spacing: -0.01em;
    }
  }

  &__nav-item {
    align-items: center;
    color: #022b54;
    display: flex;
    justify-content: center;
    margin: 0 15px;
    position: relative;
    text-decoration: none;
    transition: color 0.3s;
    will-change: color;

    &--active {
      color: #53c3d0;

      &::after {
        background-color: #53c3d0;
        bottom: -8px;
        content: "";
        height: 1px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        width: 20px;
      }
    }

    &:hover {
      color: #53c3d0;
    }
  }

  &__nav-item-icon {
    margin-left: 8px;
  }

  &__login {
    display: none;

    @include tablet {
      display: inline-flex;
      height: 36px;
    }
  }

  &__filters {
    display: inline-block;
    flex-direction: row;
    height: 50px;
    padding-left: 12px;
    width: calc(100% - 40px);

    #{$root}--open & {
      height: auto;
      padding-left: 0;
      width: 100%;
    }

    @include tablet {
      display: inline-block;
      margin-top: 14px;
      padding-left: 0;
      width: 100%;
    }
  }

  &__filters-query {
    width: 100%;

    @include tablet {
      display: inline-flex;
      width: calc(100% - 121px);
    }

    @include desktop {
      width: calc(100% - 291px);
    }
  }

  &__fieldset-coupon {
    display: none;

    #{$root}--open & {
      display: block;
      margin-top: 15px;

      @include tablet {
        display: inline-flex;
        margin-left: 10px;
        margin-top: 0;
        width: 111px;
      }

      @include desktop {
        width: 281px;
      }
    }

    @include tablet {
      display: inline-flex;
      margin-left: 10px;
      width: 111px;
    }

    @include desktop {
      width: 281px;
    }
  }

  &__filter-coupon {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__filter-region {
    display: none;
    flex: 1;
    padding-bottom: 13px;

    #{$root}--open & {
      border-bottom: solid 1px #e8eff5;
      display: flex;
      flex-direction: column;
      padding-top: 6px;

      @include tablet {
        border-bottom: none;
        padding-top: 0;
      }
    }

    @include tablet {
      border-right: 1px solid #e8eff5;
      display: flex;
      flex-direction: column;
      padding-right: 13px;
    }
  }

  &__filter-period {
    display: flex;
    flex-direction: row;
    flex: 1;

    @include tablet {
      border-right: 1px solid #e8eff5;
    }

    #{$root}--open & {
      border-bottom: solid 1px #e8eff5;

      @include tablet {
        border-bottom: none;
      }
    }
  }

  &__filter-period-select {
    display: block;
  }

  &__filter-period-inner {
    border-right: 1px solid #e8eff5;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 13px;

    @include tablet {
      padding-left: 13px;
    }

    #{$root}--open & {
      border: none;
      padding-bottom: 13px;
      padding-right: 0;
      padding-top: 12px;

      @include tablet {
        padding-bottom: 0;
        padding-right: 13px;
        padding-top: 0;
      }
    }
  }

  &__filter-guests {
    display: none;
    padding-bottom: 13px;

    #{$root}--open & {
      border-bottom: solid 1px #e8eff5;
      display: flex;
      flex-direction: column;
      padding-top: 12px;

      @include tablet {
        border-bottom: none;
        padding-top: 0;
      }
    }

    @include tablet {
      border-right: 1px solid #e8eff5;
      display: flex;
      flex-direction: column;
      padding: 0 13px;
      width: 96px;
    }
  }

  &__filter-sort-order {
    display: none;
    flex: 1;

    #{$root}--open & {
      display: flex;
      flex-direction: column;
      padding-bottom: 6px;
      padding-top: 12px;

      @include tablet {
        border-bottom: none;
        padding-top: 0;
      }
    }

    @include tablet {
      display: flex;
      flex-direction: column;
      padding-left: 13px;
    }
  }

  &__filter-label {
    color: #53c3d0;
    font-family: "Source Sans Pro";
    font-size: 11px;
    font-weight: 400;
    letter-spacing: -0.01em;
    line-height: 122%;
    margin-bottom: 3px;
  }

  &__select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url("../../images/chevron-down-grey-icon.svg");
    background-position: right top 50%;
    background-repeat: no-repeat, repeat;
    border: none;
    color: #022b54;
    display: block;
    font-family: "Source Sans Pro";
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.01em;
    margin: 0;
    outline: none;

    &--light {
      color: rgba(#022b54, 0.3);
    }

    &::-ms-expand {
      display: none;
    }
  }

  &__filter-toggle {
    align-self: center;
    background-color: white;
    background-image: url("../../images/filters-dark-icon.svg");
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    height: 24px;
    margin-left: 13px;
    position: relative;
    width: 24px;

    #{$root}--open & {
      display: none;
    }

    @include tablet {
      display: none;
    }
  }

  &__input {
    border: none;
    color: #022b54;
    font-family: "Source Sans Pro";
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.01em;
    outline: none;
    width: 100%;

    &::placeholder {
      color: rgba(#022b54, 0.3);
    }

    &:disabled {
      background-color: white;
      color: rgba(#022b54, 0.3);
    }
  }

  &__apply-button-wrapper,
  &__apply-button {
    display: none;

    #{$root}--open & {
      display: block;

      @include tablet {
        display: none;
      }
    }
  }

  &__apply-button {
    margin-bottom: 13px;
    margin-top: 9px;
    width: 100%;
  }

  &__title-bar {
    align-items: center;
    color: #022b54;
    display: flex;
    display: none;
    flex-direction: row;
    font-family: "Source Sans Pro";
    font-size: 17px;
    font-weight: 400;
    height: 54px;
    justify-content: space-between;
    letter-spacing: -0.01em;

    #{$root}--open & {
      display: flex;

      @include tablet {
        display: none;
      }
    }
  }

  &__clear-button {
    align-items: center;
    background: white;
    border: none;
    color: #53c3d0;
    cursor: pointer;
    display: flex;
    font-family: "Source Sans Pro";
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.01em;
    text-align: center;
  }

  &__close-button {
    background-color: white;
    background-image: url("../../images/close-dark-icon.svg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    border: none;
    cursor: pointer;
    height: 16px;
    width: 44px;
  }

  &__filter-badge {
    align-items: center;
    background-color: #022b54;
    border-radius: 50%;
    border: solid 1.5px white;
    box-sizing: border-box;
    color: #ffffff;
    display: block;
    display: flex;
    font-family: "Source Sans Pro";
    font-size: 11px;
    font-weight: 600;
    height: 18px;
    justify-content: center;
    letter-spacing: -0.01em;
    position: absolute;
    right: -7px;
    top: -7px;
    width: 18px;
  }
}
